
@{
    ViewData["Title"] = "Admin Paneli";
    var reservations = ViewBag.Reservations as List<Restaurant.Models.Reservation>;
    var employees = ViewBag.Employees as List<Restaurant.Models.Employee>;

}
<style>
    body {
        background-image: url("../images/background.jpg");
        background-size: cover;      /* Fill the screen */
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #homebutton {
        width: 2.5rem; 
        padding-left: 1rem; 
        padding-top: 1rem;
        transition: all 0.4s;
    }
    #homebutton:hover {
        transform: scale(1.25);
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <title>Admin Page</title>
</head>
<body>
<select id="dataSelector" onchange="toggleList()">
    <option value="reservations">Rezervations</option>
    <option value="employees">Employees</option>
</select>

<div id="reservationsDiv">
    <h2>List of Rezervations</h2>
    <ul>
        @foreach (var res in reservations)
        {
            <li>@res.Name - @res.Date.ToShortDateString() @res.Time</li>
        }
    </ul>
</div>

<div id="employeesDiv" style="display: none;">
    <h2>List of Employees</h2>
    <ul>
        @foreach (var emp in employees)
        {
            <li>@emp.Name</li>
        }
    </ul>
    <button onclick="alert('Çalışan ekleme formu burada olcak')">Add Employee</button>
</div>

<script>
    function toggleList() {
        var val = document.getElementById("dataSelector").value;
        document.getElementById("reservationsDiv").style.display = (val === "reservations") ? "block" : "none";
        document.getElementById("employeesDiv").style.display = (val === "employees") ? "block" : "none";
    }
</script>
<div>
    <a asp-controller="Home" asp-action="Index"><img src="~/images/home.png" alt="home" id="homebutton"></img></a>
</div>
</body>
</html>