@{
    ViewData["Title"] = "Restaurant";
}

<head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="homepage" style="display: flex; flex-direction: row; margin-top: 80px; height: auto; padding: 1rem 4rem">
    <div class="introDiv1" style="flex: 1.5; height: 100%">
        <img src="images/hmpgfoods.jpg" style="object-fit: contain; border-radius: 40px; margin-left: 3rem; width: 87%; height: 100%;" id="foodimage">
    </div>
    <div class="introDiv2" style="padding: 4rem 0;  flex: 1; height: 500px">
        <h3 style="display: inline-block; color: #9697a8; font-size: large">Welcome to ATÜ yemekhane.</h3>
        <h2 style="display: inline-block; color: white; margin-top: 25px; margin-bottom: 50px; font-size: xx-large">Quality Turkish Food Experience in Adana Sarıçam Area</h2>
        <a asp-controller="Home" asp-action="Booking" style="text-decoration: none; color: inherit"><button class="book-a-table">BOOK A TABLE</button></a>
    </div>
</div>
<div style="display: block; position: inherit" class="text-md-center">
    <h1 class="Bottom-text">Tradition, Untouched</h1>
</div>
<div class="wrapper">
    <div class="stylish-text fadeout-horizontal">
        <div class="stylish-text-track">
            <p class="animated-text">Night Life</p>
            <p class="animated-text">Business Meetings</p>
            <p class="animated-text">Romantic Dates</p>
            <p class="animated-text">Casuals</p>
            <p class="animated-text" aria-hidden="true">Night Life</p>
            <p class="animated-text" aria-hidden="True">Business Meetings</p>
            <p class="animated-text" aria-hidden="True">Romantic Dates</p>
            <p class="animated-text" aria-hidden="True">Casuals</p>
            <p class="animated-text" aria-hidden="true">Night Life</p>
            <p class="animated-text" aria-hidden="True">Business Meetings</p>
            <p class="animated-text" aria-hidden="True">Romantic Dates</p>
            <p class="animated-text" aria-hidden="True">Casuals</p>
        </div>
    </div>
</div>
</body>
