@{
    ViewData["Title"] = "Restaurant";
}

<head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
<div class="homepage">
    <div class="intro-div-1">
        <img src="images/hmpgfoods.jpg" class="food-image">
    </div>
    <div class="intro-div-2">
        <div class="text-info introduction">
            <h3 style="display: inline-block; color: #9697a8; font-size: large">Welcome to ATÜ yemekhane.</h3>
            <h2 style="display: inline-block; color: white; margin-top: 25px; margin-bottom: 50px; font-size: xx-large">Quality Turkish Food Experience in Adana Sarıçam Area</h2>
            <a><button class="book-a-table">BOOK A TABLE</button></a>
        </div>
    </div>
</div>
<div style="display: block; margin-top: 200px;" class="text-md-center">
    <h1 class="Bottom-text">Tradition, Untouched</h1>
</div>
</body>
