.introDiv1 {
    transform: translateX(-300px);
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

#foodimage {
    transition: transform 0.3s ease;
}
#foodimage:hover {
    transform: translateX(0) scale(1.05);
}
@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.introDiv2 {
    transform: translateX(300px);
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
    transition: all, 0.4s;
}

.book-a-table {
    all: unset;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.book-a-table::after,
.book-a-table::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.book-a-table::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #727171;
    border-radius: 10px;
}

.book-a-table::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.book-a-table:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.book-a-table:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.book-a-table:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.introduction {
    padding-left: 40px;
}

.Bottom-text {
    opacity: 0;
    animation: opacityIn 1s ease-out forwards;
    display: block;
    font-size: 80px;
    color: #dfdddd;
}

@keyframes opacityIn {
    to {
        opacity: 1;
    }
}

.wrapper {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
    color: white;
    font-size: 2rem;
}

.stylish-text {
    display: block;
    width: 100%;
    padding: 2rem;
    overflow: clip;
}

.stylish-text p {
    border: 1px solid white;
    border-radius: 999px;
    padding: 0.5rem 1.5rem
}

.animated-text {
    transition: all 0.3s ease;
}

.animated-text:hover {
    transform: scale(1.05);
    border-color: orange;
    color: antiquewhite;
}

.stylish-text-track {
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 4.8rem;
    animation: stylish-move-text 15s linear infinite;
}


.fadeout-horizontal {
    mask-image: linear-gradient(to right, transparent, black 5rem, black calc(100% - 5rem), transparent);
}

@keyframes stylish-move-text {
    to {
        transform: translateX(-34.15%);
    }
}

#story-container {
    display: block;
    margin: 5rem 0rem;
}

#story-inner {
    background-image: url("../images/inner-back.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #d99a4e;
}

#story-text {
    padding: 1rem 5rem;
}

#story-head {
    color: #d99a4e;
    font-size: 2rem;
    text-align: center;
}

#story-body {
    font-size: 1.5rem;
    color: white;
}
