* {
    font-family: "Optima";
}

#home {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;      /* Fill the screen */
    background-repeat: no-repeat;
    background-position: center;
}

#sbmt-div {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 2px;
    transition: width 0.3s ease;
    opacity: 0;
}

#submit-btn {
    display: flex;  
    align-items: center;  
    justify-content: center;    
    border: 1px solid #d99a4e;
    background: #d99a4e;
    text-align: center;
    height: 20px;                
    width: 30px;                  
    padding: 0;                   
    cursor: pointer; 
    transition: all 0.3s ease;
}

#submit-btn:hover {
    background: none;
    border: 1px solid #d99a4e;
}

#arrw-rght {
    color: white;
    font-size: 10px;
    transition: all 0.3s ease;
}
#arrw-rght:hover {
    color: #d99a4e;
}

#receipt-search {
    width: 0;
    height: 20px;
    padding: 5px;
    border: 1px #d99a4e solid;
    outline: none;
    transition: width 0.3s ease;
    opacity: 0;
    background: none;
    color: white;
    margin-right: 0;
}

#receipt-search::placeholder {
    padding-left: 0.5rem;
    font-size: 12px;
    color: white;
}

#search-form.active #receipt-search, #search-form.active #sbmt-div {
    width: 30%; 
    opacity: 1;
}

#search-icon {
    transition: all 0.3s ease-in-out;
}

#search-icon:hover {
    cursor: pointer;
    color: #d99a4e;
}
.orng {
    color: #d99a4e;
}

.search-bar {
    margin-top: 1rem;
}

#login{
    text-decoration: none;
    cursor: pointer;
    color: darkgray;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}
#logout {
    text-decoration: none;
    cursor: pointer;
    color: red;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}
#login:hover, #logout:hover {
    color: white;
}

#privacy {
    text-decoration: none;
    color: darkgray;
    transition: all 0.2s ease-in-out;
}
#privacy:hover {
    color: white;
}

header {
    margin-bottom: 5rem;
}

.header-div {
    display: flex;
    width: 100%;
    margin: 0 auto; /* Horizontally center */
    position: fixed;
    top: 0;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0); /* Start fully transparent */
    transition: background-color 0.3s ease;
    z-index: 1000;
}


.left-div {
    flex: 1;
}

.middle-div {
    flex: 1.4;
    text-align: center;
}
.middle-l {
    flex: 1.4;
    display: inline-block;
    padding-left: 70px;
}
.middle-m {
    display: inline-block;
    flex: 1;
}
.middle-r {
    display: inline-block;
    flex: 2;
}

.right-div {
    display: inline-block;
    flex: 1;
}

#menu {
    display: inline-block;
    font-weight: lighter;
    font-size: x-large;
    color: white;
    text-decoration: none;
    padding-top: 0.5em;
    padding-right: 0.85em;
}
#menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #d99a4e;
    transition: transform 0.4s ease;
}

#menu:hover::after {
    transform: translateX(-60%) scaleX(1);
}


#book {
    display: inline-block;
    font-weight: lighter;
    font-size: x-large;
    color: white;
    text-decoration: none;
    padding-top: 0.5em;
}

#book::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #d99a4e;
    transition: transform 0.4s ease;
}

#book:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.action_button {
    transition: all 0.4s ease;
}
.action_button:hover {
    transform: scale(1.05);
}

.navbar-transparent {
    display: block;
    background-color: rgba(78, 78, 78, 0.8);
    z-index: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#maintenance {
    transition: all 0.4s ease;
}
#maintenance:hover {
    transform: scale(1.25);
    cursor: pointer;
}

#loggedIn {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    border: 1px solid;
    border-color: #d99a4e;
    border-radius: 10px;
    margin-left: 2rem;
    transition: all 0.4s ease-in-out;
}

#loggedIn:hover {
    background-color: rgba(45, 44, 45, 0.7);
}
#links {
    transform: scale(0.90);
}

#insta-icon, #face-icon, #x-icon {
    transition: all 0.4s ease-in-out;
    margin-left: 0.9rem;
}
#insta-icon:hover {
    color: #ed31e0;
}
#face-icon:hover {
    color: #5094fa;
}
#x-icon:hover {
    color: #ff7171;
}

#receiptsvg {
    margin-left: 1rem;
    color: #d99a4e;
    cursor: pointer;
    height: 30px;
    transition: all 0.4s ease-in-out;
}
#receiptsvg:hover {
    fill: white;
}

#adminsvg {
    margin-left: 0.5rem;
    color: #d99a4e;
    cursor: pointer;
    height: 40px;
    transition: all 0.4s ease-in-out;
}
#adminsvg:hover {
    fill: white;
}